* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}


.main-header {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);   
    padding: 20px;
}

.main-header .main-nav {
    display: flex;
    justify-content: space-around;
}

.main-header .main-nav a {
    font-size: 21px;
    text-decoration: none;
    color: #666;
    padding: 5px 1em;
    position: relative;
    transform: translatey(0px);
    transition: 0.3s;
}

.main-header .main-nav a:hover {
    transform: translatey(-10px);
}

.main-header .main-nav a:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #333;
    transition: 0.3s;
}

.main-header .main-nav a:hover:after {
    left: 0;
    right: 0;
}

.container {
    display: flex;
    flex-direction: column;
}